body {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333;/*background-color: #dddddd;*/background-color:#ffffff;height: 100%;}
table {border-spacing:0px;font-size:10px;}
table th {text-align:left;}
h2 {margin-top:20px;margin-bottom:30px;border-bottom:1px solid #dddddd;font-size:14px;padding-left:4px;padding-bottom:5px;}
.navbar {height:67px;width:100%;background-color:#ffffff;}
a.navbar-brand {float: left;height: 37px;padding: 15px 15px;color:#7d7d7d;font-size: 14px;font-weight: bold;text-decoration: none;line-height:2.8;}
.container {min-height:40px;padding:5px;margin-right: auto;margin-left: auto;width:100%;}
.pdf_nav {height:42px;	background: #ddd;padding-top: 5px;padding-bottom:5px;padding-left:15px;}
.hme-title, .hme-logo {float:left;}
.hme-logo {padding-top:5px;	}
.hme-title {font-weight:bold;font-size:10px;padding-left:8px;padding-top:11px;}
.fleft{float:left;}
.fright{float:right;}
.inv_left, .inv_right {/*margin-top:30px;*/}
.inv_left {width:300px;}
.inv_right {margin-left:100px;width:300px;}
.inv_info_row {height:130px;}
.inv_info_row .inv_address {font-size:12px;}
.inv_lines {border-collapse: collapse; width:100%;padding-left:5px;}
.inv_lines>thead>tr>th {border-bottom: 2px solid #c9e3f2;padding-bottom: 4px;padding-top: 8px;}
.inv_lines>thead>tr, .inv_lines>thead {background-color: #ecf8fc;color: #4a889f;}
.inv_lines>tbody>tr>td {padding-bottom: 8px;padding-top: 8px;border-bottom: 1px solid #ddd;}
.inv_lines>tbody>tr>td.blank_row {text-align:right;padding-right:10px;font-weight:bold;}
.inv_lines>tbody>tr>td.total_row, .inv_lines>tbody>tr>td.blank_row {padding-bottom: 2px;padding-top: 2px;border-bottom: 0px solid #ddd;}
.inv_lines>tbody>tr>td.blank_row.blank_pad {padding-top:10px;}
.pad_left {padding-left:5px;}
